@import url(https://fonts.googleapis.com/css?=family=Yeseva+One);

body {
    background-color: black;
}

#home h1 {
    font-family: "Yeseva One", serif;
    color: white;
    text-align: center;
}

#home h2 {
    text-align: center;
    color: white;
}
