@import url(https://fonts.googleapis.com/css?family=Comfortaa);

body {
    background-color: black;
}

h1 {
    font-family: "Comfortaa", cursive;
    text-align: center;
    color: white;
}

h2 {
    color: white;
    text-align: center;
}
